@layer components {
  .filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-4);
    margin-block: calc(-1 * var(--space-6)) var(--space-8);
  }

  .clear {
    font-size: var(--font-size-sm);
  }
}
